body{
  background:rgb(16, 16, 37);
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



#contact{
  background-color: rgb(11, 11, 252);
}
#con{
  text-align: center;
  margin: 100%, 100%;
}
#form{
  text-align: center;
}
a{
  display: block;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  background: #FFF;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  width: max-content;
}
a:hover {
  color: white;
  background: black;
}